html, body {margin: 0; height: 100%; overflow: hidden}

.container div {
    height: 50%;
    width: 50%;
    /* border: 1px solid black;
    box-sizing: border-box; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    position: fixed;
}


.card {
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.card div {
    position: absolute;
}

/* .front, .back {
    height: 50%;
    width: 50%;
    position: absolute;
} */

.hide {
    visibility: hidden;
}

#heart, #club, .left{
    float: left;
}

#spade, #diamond, .right {
    float: right;
}
