
html, body {margin: 0; height: 100%; overflow: hidden}

div {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.card {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.card_back img {
    height: 100%;
    width: 100%;
}

.card_back {
    height: 100%;
    width: 100%;
    position: absolute;
}

.front {
    height: 100%;
    width: 100%;
    position: absolute;
}

.reveal {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hide {
    visibility: hidden;
}




.pop_up {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    height: 50%;
    width: 70%;
    padding: 17%;
}

.btn-primary {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}


